{% extends 'base.html' %}
{% block content %}
    {% if experiences|length == 0 %}
        <h3>Sorry, no experiences found</h3>
    {% else %}
        {% for experience in experiences %}
            <div class="row">
                <a href='/parks/{{experience.park.park_id}}'>
                    <img src="{{experience.park.image_url}}" class="col-md-6 float-md-end mb-3 ms-md-3">
                    <p><b>{{experience.park.name}}</b></p>
                </a>
                <p>{{experience.activties}}</p>
                {%for activity in experience.activities %}
                    <p>{{activity.activity.name}}</p>
                    <p>{{activity.date}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

<div class="div">
  <div class="container">
    <div class="row">
      <div class="col-4">
        
      </div>
    </div>
  </div>
</div>
<!--
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card user-card">
                <div class="card-inner">
                  <div class="image-wrapper">
                    <img src="{{ park.image_url}}" alt="parkImage" class="card-hero">
                  </div>
                  <div class="card-contents">
                    <a href="/parks/{{park.id }}" class="card-link">
                      <img src="{{ park.image2_url}}" alt="Image for {{ park.name }}" class="card-image">
                      <p><b>{{park.name}}</b></p>
                    </a>
                  </div>
                  <p class="card-description">{{park.designation}}</p>
                  <p class="card-description">{{park.description}}</p>
                </div>
              </div>
            </div>
        -->