{% extends 'base.html' %}
{% block content %}
  {% if parks|length == 0 %}
    <h3>Sorry, no parks found</h3>
  {% else %}
    <div class="row justify-content-end">
      <div class="col-sm-9">
        <div class="row">
          {% for park in parks %}
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card user-card">
                <div class="card-inner">
                  <div class="image-wrapper">
                    <img src="{{ park.image_url}}" alt="parkImage" class="card-hero">
                  </div>
                  <div class="card-contents">
                    <a href="/parks/{{park.id }}" class="card-link">
                      <img src="{{ park.image2_url}}" alt="Image for {{ park.name }}" class="card-image">
                      <p><b>{{park.name}}</b></p>
                    </a>
                  </div>
                  <p class="card-description">{{park.designation}}</p>
                  <p class="card-description">{{park.description}}</p>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}