{% extends 'base.html' %}
{% block content %}
    <div class = "row">
        <div class="clearfix">
            <img src="{{ park.image_url}}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="{{parkImage}}">
            <p class="display-1">{{park.name}}</p>
            <p class="h2">{{park.designation}}</p>
            <p>{{park.description}}</p>
        </div>
    </div>
    <div class = "row">
        <p class = "display-2">Activities</p>
        {% for activity in activities%}
            <p>{{activity.name}}
                <a href='/{{user.id}}/{{park.id}}/{{activity.id}}'>Add Experience</a>
            </p>
        {%endfor%}
    </div>
{% endblock %}