<!doctype html>
<html>
<head>
  <title>LuckyNum</title>
  <script src="https://unpkg.com/jquery"></script>
</head>
<body>

<form id="lucky-form">
  <div>Name: <input id="name" value="Luke McNeese"> <b id="name-err"></b> </div>
  <div>Birth Year: <input id="year" value = "1988"> <b id="year-err"></b> </div>
  <div>Email: <input id="email" value = "lukemcneese@gmail.com" > <b id="email-err"></b> </div>
  <div>Color: <input id="color" value = "green" > <b id="color-err"></b> </div>
  <button>I Want To Feel Lucky!</button>
</form>

<div id="lucky-results"></div>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/lucky.js"></script>

</body>
</html>